@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .init-layout {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 8px 20px;
  }

  .text-overflow-3 {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
